<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
            </ul><!-- /.breadcrumb -->

            </div>

        <div class="page-content">
            
            <div class="page-header">
                <h1>
                    Dashboard 
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        overview 
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>

                        <i class="ace-icon fa fa-check green"></i>

                        Welcome to
                        <strong class="green">
                            Review Monitoring System
                            
                        </strong>, Provider Panel.
                    </div>

                    <div class="hr hr32 hr-dotted"></div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<style>
.ace-nav>li.light-blue>a {
background-color: #bf5928;
}
.navbar {
margin: 0;
padding-left: 0;
padding-right: 0;
border-width: 0;
border-radius: 0;
-webkit-box-shadow: none;
box-shadow: none;
min-height: 45px;
background: #bf5928;
}
</style>