{% extends "turfhome.html" %}
{% load static %}
{% block content %}

<style>
    .col-lg-6 {
        float: left;
    }

    .pack-image {
        height: 60px;
        width: 60px;
    }
</style>

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Rejected Item Bookings List</h1>
    </div>

    <div class="row w-100">
        <div class="content-panel w-100" style="padding: 10px 10px;">

            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Sl:No</th>
                            <th>Item Image</th>
                            <th>Item Details</th>
                            <th>Booking hours</th>
                            <th>Booking date</th>
                            <th>Total amount</th>
                            <th style="text-align: center;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data%}
                        <tr>
                            <td style="text-align: center;">{{forloop.counter}}</td>
                            <td><img class="pack-image" src="../media/{{d.rent_item.item_image}}" /></td>
                            <td>
                                {{d.rent_item.item_name}}<br>
                                {{d.rent_item.item_rph}} Rs / hour
                            </td>
                            <td>{{d.rent_hours}} hours</td>
                            <td>{{d.rbook_date}}</td>
                            <td>{% widthratio d.rent_item.item_rph 1 d.rent_hours %} Rs</td>
                            <td style="text-align: center;">
                                {% if d.pay_status == "waiting" %}
                                    <span class="text-info font-weight-bold">Cancelled</span>
                                {% elif d.pay_status == "paid" %}
                                    <form method="post" action="{% url 'turfRentItemBookingRefund' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{d.rbookid}}" name="rbookid" />
                                        <button class="btn btn-success m-1" type="submit" name="approve">Refund payment</button>
                                    </form>
                                {% elif d.pay_status == "refunded" %}
                                    <span class="text-success font-weight-bold">Cancelled and payment refunded</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        {% endblock %}