{% extends "adminhome.html" %}
{% load static %}
{% block content %}
<section id="main-content" style="min-height: 93vh">
    <section class="wrapper">
        <h3>Admin Feedback</h3>
        <div class="row mt">
            <div class="col-lg-10">
                <div class="content-panel" style="padding: 10px">

                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sl:No</th>
                                    <th>Name</th>
                                    <th>Subject</th>
                                    <th>Complaint</th>
                                    <th>Reply</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data %}

                                <tr>
                                    <th>{{forloop.counter}}
                                    </th>
                                    <th>{{d.turf.turf_name}}</th>
                                    <br />

                                    </th>
                                    <Th>{{d.tsubject}}</Th>
                                    <th>{{d.tmsg}}</th>
                                    <th>
                                        {% if d.creply == "" %}
                                        <a href="#" data-toggle='modal' data-target='#edit-{{d.tcomplaint_id}}'
                                            class="btn btn-info">Reply</a>


                                        {% else %}
                                        {{d.creply}}
                                        {% endif %}
                                    </th>
                                </tr>
                                {% if d.creply == "" %}
                                <div id="edit-{{d.tcomplaint_id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">


                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <form role="form" action="{% url 'turf_feed' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="t1" readonly value="{{d.tcomplaint_id}}" />
                                                <div class="modal-header">

                                                    <h4 class="modal-title">Complaints</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="email">Subject:</label>
                                                        <input type="text" class="form-control" name="s1"
                                                            value="{{d.tsubject}}" readonly />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="email">Message</label>
                                                        <textarea class="form-control" name="s2">{{d.tmsg}}</textarea>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="email">Reply</label>
                                                        <textarea class="form-control" name="t2" required></textarea>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <input type="submit" class="btn btn-default" value="Submit" />
                                                </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </tbody>

                        </table>
                    </section>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-4 -->
        </div><!-- /row -->
    </section>
</section>



{% endblock %}