{% extends "turfhome.html" %}
{% load static %}
{% block content %}

<style>
    .col-lg-4 {
        float: left;
    }
    .pack-image{
        height: 60px;
        width: 60px;
    }
</style>

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List Package</h1>
    </div>

    <div class="row w-100">
        <div class="content-panel w-100" style="padding: 10px 10px;">

            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Sl:No</th>
                            <th>Image</th>
                            <th>Package</th>
                            <th>Rate</th>
                            <th>Type</th>
                            <!-- <th>Status</th> -->
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data%}
                        <tr>
                            <td style="text-align: center;">{{forloop.counter}}</td>
                            <td><img class="pack-image" src="../media/{{d.pack_image}}"/></td>
                            <td>{{d.pack_name}}</td>
                            <td>{{d.pack_rate}} Rs</td>
                            <td>{{d.pack_type}}</td>
                            <!-- <td>{{d.pack_status}}</td> -->
                            <td style="text-align: center;">
                                {% if d.pack_status == "waiting" %}
                                <button class="btn btn-success" data-toggle="modal"
                                    data-target="#edit-{{d.packid}}">Edit</button>
                                {% endif %}
                                <button class="btn btn-danger" data-toggle="modal"
                                    data-target="#delete-{{d.packid}}">Delete</button>
                            </td>
                            <div class="modal fade" id="edit-{{d.packid}}" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title custom_align" id="Heading">Edit package</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                                    aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" method="post" name="myForm" onsubmit=""
                                                action="{% url 'turfPackageUpdate' %}">
                                                {% csrf_token %}
                                                <input type="hidden" class="form-control" value="{{d.packid}}"
                                                    name="packid">
                                                <div class="box-content">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label for="">Package name</label>
                                                            <input type="text" name="pname" class="form-control"
                                                                value="{{d.pack_name}}" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label for="">Package rate</label>
                                                            <input type="number" name="prate" class="form-control"
                                                                value="{{d.pack_rate}}" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Package type</label>
                                                            <input type="text" name="ptype" class="form-control"
                                                                value="{{d.pack_type}}" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div class="float-right">
                                                            <button type="submit" class="btn btn-success">
                                                                    Update
                                                            </button>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal" aria-hidden="true">cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="delete-{{d.packid}}" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form class="form-horizontal" method="post" action="{% url 'turfPackageDelete' %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h4 class="modal-title custom_align" id="Heading">Are you sure want to delete this package ?</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                                        aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" class="form-control" value="{{d.packid}}"
                                                    name="packid">
                                                <div class="col-lg-12">
                                                    <div class="float-right">
                                                        <button type="submit" class="btn btn-danger">
                                                                Delete
                                                        </button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal" aria-hidden="true">Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                            </div>


                            <div class="modal fade" id="reject-{{d.shop_id}}" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                                    aria-hidden="true"></span></button>
                                            <h4 class="modal-title custom_align" id="Heading">Are you sure want to
                                                shop</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" method="post" name="myForm" onsubmit=""
                                                action="{% url 'reject_shop' %}">
                                                {% csrf_token %}
                                                <input type="hidden" class="form-control" value="{{d.shop_email}}"
                                                    name="shop_email">
                                                <input type="hidden" class="form-control" value="{{d.shop_id}}"
                                                    name="shop_id">
                                                <div class="box-content">
                                                    <div class="col-md-12">
                                                        <div class="form-group" style="margin-left:50px;">

                                                        </div>
                                                    </div>
                                                    <br><br><br>
                                                    <button name="request" type="submit" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                                        Reject
                                                    </button>
                                                    <button type="reset" class="btn btn-default pull-right"
                                                        data-dismiss="modal"><span
                                                            class="glyphicon glyphicon-remove"></span>
                                                        Cancel</button>
                                                </div>
                                        </div>
                                    </div>

                                    </form>
                                    <div class="modal-footer ">

                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>




                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        {% endblock %}