{% extends "turfhome.html" %}
{% load static %}
{% block content %}

<style>
    .col-lg-6 {
        float: left;
    }

    .pack-image {
        height: 60px;
        width: 60px;
    }
</style>

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Rent Items List</h1>
    </div>

    <div class="row w-100">
        <div class="content-panel w-100" style="padding: 10px 10px;">

            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Sl:No</th>
                            <th>Item Image</th>
                            <th>Item name</th>
                            <th>Rate / hour</th>
                            <th>Status</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data%}
                        <tr>
                            <td style="text-align: center;">{{forloop.counter}}</td>
                            <td><img class="pack-image" src="../media/{{d.item_image}}"/></td>
                            <td>{{d.item_name}}</td>
                            <td>{{d.item_rph}} Rs</td>
                            <td>{{d.item_status}}</td>
                            <td style="text-align: center;">
                                {% if d.item_status == "waiting" %}
                                <button class="btn btn-success" data-toggle="modal"
                                    data-target="#edit-{{d.rentid}}">Edit</button>
                                {% endif %}
                                <button class="btn btn-danger" data-toggle="modal"
                                    data-target="#delete-{{d.rentid}}">Delete</button>
                            </td>
                            <div class="modal fade" id="edit-{{d.rentid}}" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title custom_align" id="Heading">Edit rent item</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                                    aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" method="post" name="myForm" onsubmit=""
                                                action="{% url 'turfRentItemUpdate' %}">
                                                {% csrf_token %}
                                                <input type="hidden" class="form-control" value="{{d.rentid}}"
                                                    name="rentid">
                                                <div class="box-content">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="">Package name</label>
                                                            <input type="text" name="iname" class="form-control"
                                                                value="{{d.item_name}}" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="">Package rate</label>
                                                            <input type="number" name="irate" class="form-control"
                                                                value="{{d.item_rph}}" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div class="float-right">
                                                            <button type="submit" class="btn btn-success">
                                                                    Update
                                                            </button>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal" aria-hidden="true">cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="delete-{{d.rentid}}" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form class="form-horizontal" method="post" action="{% url 'turfRentItemDelete' %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h4 class="modal-title custom_align" id="Heading">Are you sure want to delete this item ?</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"><span class="glyphicon glyphicon-remove"
                                                        aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" class="form-control" value="{{d.rentid}}"
                                                    name="rentid">
                                                <div class="col-lg-12">
                                                    <div class="float-right">
                                                        <button type="submit" class="btn btn-danger">
                                                                Delete
                                                        </button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal" aria-hidden="true">Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                            </div>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        {% endblock %}