{% extends "turfhome.html" %}
{% load static %}
{% block content %}

<style>
    .col-lg-4,.col-4 {
        float: left;
    }

    .pack-image {
        height: 60px;
        width: 60px;
    }
</style>

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Complaints</h1>
    </div>

    <div class="row w-100">
        <div class="form-panel w-100">
            <form method="post" enctype="multipart/form-data" action="{% url 'turfAddComplaint' %}" onsubmit="return val(this)" action="">
                {% csrf_token %}
                <input type="hidden" name="id" value="">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control" placeholder="" name="subject" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Complaint</label>
                        <textarea class="form-control" placeholder="" name="complaint" required></textarea>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group float-right">
                        <button type="submit" name="submit" class="btn btn-primary mt-1">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row w-100">
        <div class="content-panel w-100" style="padding: 10px 10px;">

            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Sl:No</th>
                            <th>Subject</th>
                            <th>Complaint</th>
                            <th>Date</th>
                            <th>Reply</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data%}
                        <tr>
                            <td style="text-align: center;">{{forloop.counter}}</td>
                            <td>
                                {{d.tsubject}}
                            </td>
                            <td>
                                {{d.tmsg}}
                            </td>
                            <td>
                                {{d.tcomplaint_date}}
                            </td>
                            <td>
                                {% if d.creply == "" %}
                                    - - NOT YET SEEN - -
                                {% else %}
                                    {{d.creply}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        {% endblock %}