{% extends "turfhome.html" %}
{% load static %}
{% block content %}

{% if msg != "" %}
<script>alert("{{msg}}")</script>
{% endif %}

<style>
    .col-md-4 , .col-md-8{
        float: left;
    }
</style>

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Register Package</h1>
    </div>

    <div class="row w-100">
        <div class="form-panel w-100">
            <form method="post" enctype="multipart/form-data" action="{% url 'turfRegisterPackageProcess' %}" onsubmit="return val(this)" action="">
                {% csrf_token %}
                <input type="hidden" name="id" value="">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Package name</label>
                        <input type="text" class="form-control" placeholder="" name="name" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Package rate</label>
                        <input type="number" class="form-control" placeholder="" name="rate" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Package type</label>
                        <input type="text" class="form-control" placeholder="" name="type" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Package photo</label>
                        <input type="file" class="form-control" accept="image/*" name="photo" required>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group float-right">
                        <button type="submit" name="submit" class="btn btn-danger mt-4">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <style>

    </style>
</div>
<script>

</script>

{% endblock %}