{% extends "turfhome.html" %}
{% load static %}
{% block content %}

<style>
    .col-lg-4 {
        float: left;
    }

    .pack-image {
        height: 60px;
        width: 60px;
    }
</style>

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">New Package Bookings</h1>
    </div>

    <div class="row w-100">
        <div class="content-panel w-100" style="padding: 10px 10px;">

            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Sl:No</th>
                            <th>User details</th>
                            <th>Package details</th>
                            <th>Date</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data%}
                        <tr>
                            <td style="text-align: center;">{{forloop.counter}}</td>
                            <td>
                                {{d.user.user_name}}<br>
                                {{d.user.user_phone}}<br>
                                {{d.user.user_email}}
                            </td>
                            <td>
                                {{d.package.pack_name}}<br>
                                Type : {{d.package.pack_type}}<br>
                                Rate : {{d.package.pack_rate}} Rs
                            </td>
                            <td>
                                {{d.date}}
                            </td>
                            <td style="text-align: center; display: flex; justify-content: center;">
                                <form method="post" action="{% url 'turfPackageBookingApprove' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{d.pbookid}}" name="pbookid"/>
                                    <button class="btn btn-success m-1" type="submit" name="approve">Approve</button>
                                </form>
                                <form method="post" action="{% url 'turfPackageBookingReject' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{d.pbookid}}" name="pbookid"/>
                                    <button class="btn btn-danger m-1" type="submit" name="delete">Reject</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        {% endblock %}